<div class="container">
  <div class="orders-page-header">
    <h1 class="title">Gestione ordini</h1>
    <button class="btn btn-primary">Aggiungi ordine</button>
  </div>

  <clr-datagrid (clrDgRefresh)="refresh($event)">
    <clr-dg-column>Id Ordine</clr-dg-column>
    <clr-dg-column>Nome</clr-dg-column>
    <clr-dg-column>Descrizione</clr-dg-column>
    <clr-dg-column>Data</clr-dg-column>
    <clr-dg-placeholder>Nessun ordine trovato!</clr-dg-placeholder>
    <clr-dg-row *clrDgItems="let order of orders">
      <clr-dg-action-overflow>
        <button class="action-item" (click)="onEdit(order)">Edit</button>
        <button class="action-item" (click)="onDelete(order)">Delete</button>
      </clr-dg-action-overflow>

      <clr-dg-cell>{{ order.id }}</clr-dg-cell>
      <clr-dg-cell>{{ order.name }}</clr-dg-cell>
      <clr-dg-cell>{{ order.description }}</clr-dg-cell>
      <clr-dg-cell>{{ order.date | date }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="100">
        <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Users per page</clr-dg-page-size>
        {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
        {{ pagination.totalItems }} users
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>

