/* You can add global styles to this file, and also import other style files */

.container{
  padding: 4vw 4vw;
}

.span-bold{
  font-weight: bold;
}

.card-footer{
  display: flex;
  justify-content: end;
}

.btn-primary {
  align-self: end;
}

.clr-row {
  gap: 1.5vw;
}

clr-options{
  width: 200vw;
}
